footer.footer
	.footer__up
		.footer__col.footer__col-left
			.info 
				| Этот сайт я сделал в рамках обучения в Школе онлайн образования &nbsp;
				a.info__link(href='https://loftschool.com')|LoftSchool
				| &nbsp;.
		.footer__col.footer__col-mid
			.footer__col-wrap
				.footer__menu
				+menu('menu')

				.footer__socials
					include ./social

		.footer__col.footer__col-right
			.footer__quote 
				| Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. 
				.footer__quote-autor 
					| — Martin Golding
	.footer__down
		.footer__copyright
				| © Алексей Линкер | Создано с любовью в LoftSchool | 2017