include ../mixins/mixins

block header
		header.header 
			.container.header_bg
				
				.header__menu
					.header__social
						include ./social

					.hamburger__wrap
						svg.hamburger__pic
							<use xlink:href='../assets/images/sprite.svg#hamburger'>
						
				.hero__title
					+header('../assets/images/sprite.svg#portfolio_header')
					.user
						.user__pic
							img.user__pic-img(src="../../assets/images/content/user.jpg")
						.user__description
							h1(class=userName) #{blogName}
							.user__info #{userInfo}
			.arrow__down
				+arrow("arrow__header", 30, 22)