<div class="triangle">

	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle__left triangle__svg">
		<polygon points="0,0   0,86   1000,86   1000,75.5"></polygon>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle__right triangle__svg">
		<polygon points="1000,0   1000,86   0,86   0,75.5"></polygon>
	</svg>
</div>