extends ../template

block variables
	- var title = 'Блог'
	- var userName = ['block-subtitle', 'blog__title']
	- var blogName = 'Блог'

block header
	include ../common/header
		//- .header__title
		//- 	.section-title
		//- 		img.section-title__pic
		//- 	.user.blog__user
		//- 		.user__pic
		//- 			img.user__pic-img(src="../../images/content/user.jpg")
		//- 		.user__description
		//- 			.user__name Блог
		//- 			.user__info Статьи которые я написал

block content



	section.section.blog
		.triangle__white
			include ../common/triangle
		.blog__wrap
			.blog__left
				.nav-block
					ul.nav-blog__list
						//- each val, index in ['Самое важное в SASS']
						//- 	li= index + ': ' + val
						li.nav-blog__item
							a.nav-blog__link.blog__active(href="#article__item-1") Самое важное в SASS
						li.nav-blog__item
							a.nav-blog__link(href="#article__item-2") Приёмы в вёрстке, без которых не обходится ни один сайт
						li.nav-blog__item
							a.nav-blog__link(href="#article__item-3") Самый необходимый набор Gulp плагинов
						li.nav-blog__item
							a.nav-blog__link(href="#article__item-4") Почему я выбрал Jade

			.blog__right
				arcticle.article
					ul.article__list
						li.article__item#article__item-1
							h2.article__title Самое важное в SASS 
							.article__date 22 ноября 2016 
							.article__text
								p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						li.article__item#article__item-2
							h2.article__title Самое важное в SASS 
							.article__date 22 ноября 2016
							.article__text
								p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						li.article__item#article__item-3
							h2.article-title Самое важное в SASS 
							.article__date 22 ноября 2016
							.article__text
								p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						li.article__item#article__item-4
							h2.article__title Самое важное в SASS 
							.article__date 22 ноября 2016
							.article__text
								p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
		

	include ../common/footer