extends ../template

block variables
    - var title = 'Блог'

block content
    h1 Блог
    ul
        li
            h2 Заголовок статьи
            p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. На берегу несколько одна путь приставка она последний пояс великий коварный.
        li
            h2 Заголовок статьи
            p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Имени толку подзаголовок ipsum себя?
        li
            h2 Заголовок статьи
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Осталось страну переписывается строчка безопасную прямо правилами точках вдали пунктуация большого вскоре! То над своего жизни маленький строчка они грустный если несколько?