.arrow__down  {
  display: flex;
  justify-content: center;
  position: relative;
}

.arrow {
  fill: #c2d3c9;
  opacity: .7;
  width: rem(25px);
  height: rem(25px);
  position: absolute;
  bottom: 50px;
}