.my-work__pic {
  bottom: 6px;
  left: 450px;
}

.my-work__svg {
  width: 127%;
}
.my-job {
  display: flex;
  height: 100vh;
}

.school {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.my-work__bg {
  background-image: url('../images/bg/bg_my-work.jpg');
    background-position: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 1273px;
    
}