.socials {
    list-style: none;
    display: flex;
    flex-flow: wrap;
}

.socials__item {
    margin-right: rem(25px);
    &:last-child {
        margin-right: 0;
    }
}

.vk, .git, .in{
    fill: #fff;
    width: 100%;
    height: 100%;
    transition: 0.4s;

    &:hover {
        fill: $green;
        transition: 0.5s;
    }
}
