.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.user__pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

.user__pic-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}